h1.page-not-found {
    font-size: 45px !important;
    font-family: "Antro Vectra", sans-serif;
    font-weight: bold !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.173);
    white-space: nowrap;
}
.logo-link {
    text-decoration: none !important;
}
.logo {
    font-family: 'Antro Vectra', sans-serif;
    color: rgba(128, 128, 128, 0.505);
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;   
    margin-bottom:18px;
    margin-top: -24px;
}
.page-information {
    border: 1px solid rgba(128, 128, 128, 0.176);
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}
@media only screen and (max-width:549px){
    h1.page-not-found {
        font-size: 27px !important;
    }
}